.principal {
    /*overflow: hidden;*/
    max-width: 62vw;
}

.principal_carousell {
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-evenly;
    transition: transform 0.35s ease;
}

.principal_carousell article{   
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    height: 65vh;
    min-width: 60vw;
    padding: 2rem;
    background-color: var(--primary);
    color: transparent;
    background:
    linear-gradient(var(--primary), transparent),
    linear-gradient(to top left, var(--shadow), transparent);
    background-blend-mode: screen;
    border: none;
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}

.principal_carousell article picture{
    /* display:flex;
    height: 60vh;
    max-width: 100%;
    justify-content: center;
    align-items: center; */
    display:flex;
    justify-content: center;
    align-items: center;
    height: 86%;
} 
.principal_carousell article picture img {
    /* display: block; 
    width: auto !important;
    max-width: 100% !important;
    height: 50vh; */
    max-width: 100%;
    height: 100%;
    filter: drop-shadow(0.35rem 0.35rem 0.4rem var(--dark-shadow));
}

@media (480px < width < 1080px){
    .principal_carousell article picture{
        width: 80vw;
    } 
}

.buttonCarousell {
    background-color: var(--beige-marca-light);
    border-radius: 300px;
}