@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

.principal {
    /*overflow: hidden;*/
    width: 100vw;
}

.contenedorBotonesCarousell {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contenedorBotonesCarousell button {
    background-color: transparent;
    border: none;

    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 2rem;

    color: var(--secondary);
    transition: color 0.7s ease;
}

.contenedorBotonesCarousell button:active {
    color: var(--primary);
    transition: color 0.1s ease;
}

.principal_carousell {
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-evenly;
    transition: transform 0.35s ease;
}


.principal_carousell a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw !important;
}

.principal_carousell a picture, .principal_carousell a picture img {
    width: 100vw;
}

.index-products {
    width: 100vw !important;
}


.principal_carousell article{   
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    height: 65vh;
    min-width: 60vw;
    padding: 2rem;
    background-color: var(--primary);
    color: transparent;
    background:
    linear-gradient(var(--primary), transparent),
    linear-gradient(to top left, var(--shadow), transparent);
    background-blend-mode: screen;
    border: none;
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}

.principal_carousell article picture{
    /* display:flex;
    height: 60vh;
    max-width: 100%;
    justify-content: center;
    align-items: center; */
    display:flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
} 
.principal_carousell article picture img {
    /* display: block; 
    width: auto !important;
    max-width: 100% !important;
    height: 50vh; */
    max-width: 100%;
    height: auto;
    filter: drop-shadow(0.35rem 0.35rem 0.4rem var(--dark-shadow));
}

@media (480px < width < 1080px){
    .principal_carousell article picture{
        width: 100vw;
    } 
}

.buttonCarousell {
    background-color: var(--beige-marca-light);
    border-radius: 300px;
}


@keyframes slideIn {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slideOut {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

.image-animate-in {
    animation: slideIn 0.5s ease-out;
}

.image-animate-out {
    animation: slideOut 0.5s ease-out;
}