@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css');

:root {
    font-size: 12pt;

    /* MODO AZUL
    /* 
    --large: #01303f;
    --primary: #086A94;
    --secondary: #02a9f7;
    --background: #EAF6FB;
    */


    /* MODO ROJO */

    --large: #363333;
    --primary: #E16428;
    --secondary: #272121;
    --background: #F6E9E9;
    --shadow: #a44466;
    --dark-shadow: #802e55;
    

    --font-main: "Montserrat", sans-serif;
    --font-titles: "Arimo", sans-serif;

    --primary-font: "Archivo Black", sans-serif;
    --secundary-font: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    padding: 3rem 0 0 0;
    background-color: var(--background);
    position: relative; /* Necesario para posicionar el pseudo-elemento */
    min-height: 100vh;
}

body::before {
    content: "";
    background-image: url(/source/pictures/background.webp);
    position: absolute;
    
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    opacity: 0.2; /* Ajusta la opacidad según sea necesario */
    z-index: -1; /* Para asegurarse de que el pseudo-elemento esté detrás del contenido */
    pointer-events: none; /* Evita que el pseudo-elemento interfiera con los eventos del mouse */
    background-size: 40vw;
    background-repeat:space;
    mix-blend-mode: multiply;
}

/* .background-pc-index{
    background-image: url(/source/pictures/background-main.jpg);
    height: 80vw;
    background-repeat: no-repeat;
} */

main {
    overflow: hidden;
}

header {
    background-color: var(--large) !important;
    display: flex !important;
    flex-direction: row !important;
    height: fit-content;
    align-items: center;
    padding: 0 !important;

    position: fixed; /* Hace que el encabezado se quede fijo en la parte superior */
    top: 0; /* Se fija en la parte superior de la ventana */
    left: 0;
    z-index: 1000; /* Asegura que esté encima del contenido */
}

.header-nav-section {
    width: 93vw;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

nav.nav-header {
    height: 100% !important;
    background-color: var(--large) !important;
    display: flex !important;
    /*height: auto !important;*/
    justify-content: flex-end;
}

.nav-account {
    height: 100% !important;
    background-color: var(--large) !important;
    display: flex !important;
    /*height: auto !important;*/
    width: 25rem;
}

nav.nav-header ul li, nav.nav-account ul li a {
    height: 100% !important;
}

nav.nav-header ul li .selected {
    background-color: var(--primary) !important;
}

nav.nav-header ul li:hover, nav.nav-account > ul > li:hover{
    background-color: var(--primary) !important;
}

/*
.nav-account {
    background-color: var(--primary) !important;
    width: 25rem;
}

nav.nav-account ul li a.account-anchor {
    width: 9rem;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

nav.nav-account ul li a {
    color: var(--large) !important;
    font-weight: 1000;
}

nav.nav-account > ul > li:hover {
    background-color: var(--background) !important;
}

*/

.logo {
    width: fit-content;
    height: fit-content;
}

.logo-picture {
    width: fit-content;
    height: fit-content;
}

.logo-image {
    height: auto !important;
    width: 10rem !important;
    transition: transform 0.3s ease;
    margin: 0 1rem;
}

.logo-image:hover {
    transform: scale(1.05); /* escala a 120% del tamaño original */
}


main {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
    height: auto;
    flex-grow: 1;
}

.boton-anchor{
    background-color: var(--primary);
    color: var(--background);
    font-size: 2rem;
    padding: 1rem;
    border-radius: 0.3rem;
    transition: background-color 0.1s;
    animation: hover-boton-out 0.2s ease-in-out forwards;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.boton-anchor:hover{
    animation: hover-boton-in 0.2s ease-in-out forwards;
}

@keyframes hover-boton-in {
    0% {
        background-position: right;
        background: linear-gradient(to right, var(--primary), var(--primary));
        box-shadow: 
            rgba(0, 0, 0, 0.4) 0px 2px 4px, 
            rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, 
            rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    }
    25% {
        background-position: right;
        background: linear-gradient(to right, var(--primary), var(--shadow));
    }
    50% {
        background-position: left;
        background: linear-gradient(to right, var(--shadow), var(--secondary));
    }
    100% {
        background-position: right;
        background: linear-gradient(to right, var(--secondary), var(--secondary));
        box-shadow: 
            rgba(0, 0, 0, 0.4) 0px 7px 10px,
            rgba(0, 0, 0, 0.5) 0px 15px 30px -10px,
            rgba(0, 0, 0, 0.4) 0px -5px 0px inset;
    }
}

@keyframes hover-boton-out {
    0% {
        background-position: right;
        background: linear-gradient(to right, var(--secondary), var(--secondary));
        box-shadow: 
            rgba(0, 0, 0, 0.4) 0px 7px 10px,
            rgba(0, 0, 0, 0.5) 0px 15px 30px -10px,
            rgba(0, 0, 0, 0.4) 0px -5px 0px inset;
    }
    25% {
        background-position: right;
        background: linear-gradient(to right, var(--secondary), var(--shadow));
    }
    50% {
        background-position: left;
        background: linear-gradient(to right, var(--shadow), var(--primary));
    }
    100% {
        background-position: right;
        background: linear-gradient(to right, var(--primary), var(--primary));
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    }
}

.article-producto, .article-branch, .article-part-assemble{
    border: 2px solid var(--secondary) !important;
    margin: 1rem;
    border-radius: 0.3rem;
    font-family: var(--font-main);
    display: flex !important;
    flex-direction: column;
    width: 80vw;
    align-items: center;
}

.article-part-assemble{
    border: 2px solid var(--shadow) !important;
    margin: 1rem;
    border-radius: 1rem;
    font-family: var(--font-main);
    display: flex !important;
    flex-direction: column;
    justify-content: space-between; /* Espaciar regularmente los elementos */
    align-items: center; /* Centrar horizontalmente los hijos */
    width: 30vw;
    align-items: center;
    padding: 2rem;
}

button.boton-assemblePcPart {
    margin: 1rem;

    background-color: var(--primary);
    color: var(--background);
    font-size: 1rem;
    padding: 1rem;
    border-radius: 0.3rem;
    transition: background-color 0.1s;
    animation: hover-boton-out 0.2s ease-in-out forwards;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

button.boton-assemblePcPart:hover {
    animation: hover-boton-in 0.2s ease-in-out forwards;
}

.assemble-title {
    grid-column: 1 / -1;
    text-align: center;
}

.assemble-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.assemble-section p.required {
    color:#ff0000;
    font-weight: 600;
}

h2 {
    font-family: var(--font-titles);
    font-size: 3rem !important;
    text-align: center;
}

h3 {
    font-size: 2rem !important;
}

h4 {
    font-size: 1.7rem !important;
}

footer {
    background-color: var(--large);
    display: flex !important;
    flex-direction: row !important;
    justify-items: center !important;
    align-items: center !important;
    box-shadow: none;
}

nav.nav-footer {
    background-color: var(--large) !important;
    justify-content: center !important;
    box-shadow: none;
}

.trademark {
    color: var(--secondary) !important;
    white-space: nowrap;
    margin: 1rem;
}

.informacion, .form-account, form:not(.new-product-type-form){
    padding: 0 3rem;
    display: flex;
    flex-direction: column;
}

form.new-product-type-form {
    background-color: var(--large);
    padding: 1rem;
    border-radius: 2rem;
    margin: 1rem;
}

form.new-product-form legend{
    margin: 1rem;
}

form.new-product-type-form fieldset{
    margin: 0;
    border: none;
}

.new-product-fieldset {
    display: flex;
    flex-direction: row;
    width: 70vw;
    justify-content: space-around;
}

form .new-product-fieldset {
    margin: 2rem;
    font-weight:500 !important;
}

input[type="checkbox"] + label, [type="checkbox"]:checked+label:before {
    display: block;
}

  
/* Cuando el radio está seleccionado */
[type="radio"]:checked + label:after {
    animation: borderAndBackground 0.6s ease forwards; /* Aplica la animación */
  }
  
  /* Animación con keyframes */
  @keyframes borderAndBackground {
    0% {
      border-color: transparent; /* Color inicial */
      background-color: transparent; /* Color inicial */
    }
    20% {
      border-color: var(--dark-shadow); /* Color intermedio */
      background-color: var(--dark-shadow); /* Color intermedio */
    }
    20% {
        border-color: var(--shadow); /* Color intermedio */
        background-color: var(--shadow); /* Color intermedio */
      }
    100% {
      border-color: var(--primary); /* Color final */
      background-color: var(--primary); /* Color final */
    }
  }

small.trademark {
    color: gray !important;
}

main.products {
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr;
}

.searchbar-form {
    grid-column: 1 / -1;
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between;
    width: 40vw !important;
    justify-self: center;
    align-items: center;
    border-radius: 1rem;
    background-color: rgba(54,51,51,0.3);
    margin-bottom: 3rem;
}

.searchbar-form .searchbar-input{
    width: 25vw;
}

.searchbar-submit {
    margin: 0% !important;
}

.searchbar-form label {
    display: none;
}

.searchbar-form input[type="submit"] {
    height: 3rem;
    color: transparent;
    background: url(/source/pictures/search-icon.svg);
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    transition: transform 0.3s;
}

.searchbar-form input[type="submit"]:hover {
    transform: scale(1.1);
}

.search-fieldset {
    border: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columnas de igual tamaño */
    gap: 10px; /* Espacio entre elementos */
    padding: 10px;
}

article.product {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    margin: 1rem;
    border-radius: 1rem;
    font-family: var(--font-main);
    display: flex !important;
    flex-direction: column;
    width: 30vw;
    align-items: center;
    padding: 1rem;

    /*
    width: 20rem;
    height: 10rem;
    border: 2px solid var(--large);
    border-radius: 3px;
    */


    flex-grow: 1;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    
    background-color: transparent;
    border: 2px solid; /* Define el grosor del borde */
    color: var(--shadow);

    background-blend-mode: screen;
    /*box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;*/
}

article.product h3 {
    font-size: 1rem !important;
    color: var(--secondary);
}

article.product picture {
    transition: transform 0.3s;
}

/*
.assemble-title {
    grid-column: 1 / -1;
    text-align: center;
}

.assemble-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
*/

.index-products {
    display: flex;
    flex-direction: column;
}

/* DRAG AND DROP ---------------------------------------------*/

.drop-area {
    border: 2px dashed #ddd;
    height: 500px;
    width: 700px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: background-color 0.2s;
}

.drop-area.active {
    background-color: rgba(184, 212, 254, 0.4);
    color: black;
    border: 2px dashed #618ac9;
}

.drop-area h2 {
    font-size: 30px;
    font-weight: 500;
    color: #000;
}

.drop-area span {
    font-size: 25px;
    color: #000;
}

.file-container {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border: solid 1px #ddd;
}

.preview {
    margin-top: 10px;
}

.status-text {
    padding: 0 10px;
}

.succes {
   color: #52ad5a;
}

.failure {
    color: #ff0000;
}

.submit {
    padding:0.3rem;
    margin:1rem;
}

textarea::placeholder {
    color: var(--shadow);
}

.product-unit {
    display: grid !important;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    padding-left: 2rem;
    padding-right: 2rem;
}

.product-unit .form{
    display: inline-block;
    margin-block-end: 0;
}

.product-unit .form input[type="number"] {
    max-width: 4rem;
}

.product-unit section {
    grid-column: 1;
    grid-row: 1;
    display: flex;
    flex-direction: column;
}

.product {
    width: 300px;
    height: 400px;
}

.product-unit picture {
    grid-column: 2;
    grid-row: 1;
    display: block; 
    max-width: 100%;
    height: 300px;
}

.product picture {
    display: block; 
    max-width: 100%;
    height: 300px;
}

.products-list {
    display: block;  
    max-height: 100%;
}

.product-unit section p{
    font-size: 1.4rem;
}

.product-unit section p, .product .form {
    text-align: end;
}

.product-unit .form .input-group {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.management_orders {
    display: grid !important;
    grid-template-areas: "preparing dispatched readyForPickUp delivered";
    gap: 20px;
    padding: 0 !important; 
    margin-top: 0 !important;
}

.management_orders section {
    padding: 15px;
    display: flex; /* Utiliza flexbox para alinear el contenido */
    flex-direction: column; /* Organiza el contenido en columnas */
    justify-content: flex-start; /* Distribuye el espacio verticalmente */
    height: 100%; /* Asegura que cada sección ocupe todo el espacio vertical disponible */
}

.management_orders .preparing{
    grid-area: preparing;
}

.management_orders .dispatched{
    grid-area: dispatched;
}

.management_orders .readyForPickUp{
    grid-area: readyForPickUp;
}

.management_orders .delivered {
    grid-area: delivered;
}

.management_orders article {
    background-color: var(--large);
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: var(--background);
}

.error_message{
    color: red !important;
    margin: 1rem !important;
    font-size: 2.3rem !important;
}

.confirm_message{
    color: green !important;
    margin: 1rem !important;
    font-size: 2.3rem !important;
}

/* Sweet alert */
.swal-confirm-button{
    background-color: var(--primary) !important;
}

.swal-content{
    color: var(--large) !important;
}

.swal-title{
    color: var(--secondary) !important;
}

.section-loader {
    position: fixed; /* Fijo en toda la ventana */
    top: 0;
    left: 0;
    width: 100vw; /* Ancho completo */
    height: 100vh; /* Alto completo */
    background-color: white; /* Fondo opaco */
    z-index: 9999; /* Máximo z-index */
    display: flex;
    opacity: 1;
    transition: opacity 0.1s ease;
    animation: fadeIn 0.7s ease forwards;
}

.hide-loader {
    animation: fadeOut 1s ease forwards;
}

.none-loader {
    display: none !important;
}

@keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes fadeIn {
    0% {opacity: 0;}
    30% {opaciy: 0;}
    100% {opacity: 1;}
}

.loader {
    margin: auto;
    width: 15rem;
    height: 15rem;
    animation: spinner 4s linear infinite;
}

.loader .icon-loading {
    width: 100%;
    height: 100%;
}

.icon-p-orange {
    animation: piece-grow1 2s linear infinite;
    filter: drop-shadow(0px 0px 0px black);
    transition: filter 0.2s ease;
}

.icon-p-black {
    animation: piece-grow2 2s linear infinite;
    filter: drop-shadow(0px 0px 0px black);
    transition: filter 0.2s ease;
}

.icon-p-white {
    animation: piece-grow3 2s linear infinite;
    filter: drop-shadow(0px 0px 0px black);
    transition: filter 0.2s ease;
}

@keyframes piece-grow1 {
    0% { transform: scale(1); filter: drop-shadow(0px 0px 0px black); }
    6% { transform: scale(1.1) translate(-5%, -12%); filter: drop-shadow(0px 0px 12px black); }
    12% { transform: scale(1); filter: drop-shadow(0px 0px 0px black); }
    100% { transform: scale(1); filter: drop-shadow(0px 0px 0px black); }
}

@keyframes piece-grow2 {
    0% { transform: scale(1); filter: drop-shadow(0px 0px 0px black); }
    12% { transform: scale(1); filter: drop-shadow(0px 0px 0px black); }
    18% { transform: scale(1.1) translate(0%, -1%); filter: drop-shadow(0px 0px 12px black); }
    24% { transform: scale(1); filter: drop-shadow(0px 0px 0px black); }
    100% { transform: scale(1); filter: drop-shadow(0px 0px 0px black); }
}

@keyframes piece-grow3 {
    0% { transform: scale(1); filter: drop-shadow(0px 0px 0px black); }
    24% { transform: scale(1); filter: drop-shadow(0px 0px 0px black); }
    30% { transform: scale(1.1) translate(-10%, -2%); filter: drop-shadow(0px 0px 12px black); }
    36% { transform: scale(1); filter: drop-shadow(0px 0px 0px black); }
    100% { transform: scale(1); filter: drop-shadow(0px 0px 0px black); }
}
  
  @keyframes spinner {
    0% { transform: rotate(0deg); }

    27% { transform: rotate(0deg); }
    28% { transform: rotate(-7deg); }
    33% { transform: rotate(127deg); }
    34% { transform: rotate(120deg); }

    60% { transform: rotate(120deg); }
    61% { transform: rotate(113deg); }
    66% { transform: rotate(247deg); }
    67% { transform: rotate(240deg); }

    93% { transform: rotate(240deg); }
    94% { transform: rotate(233deg); }
    99% { transform: rotate(367deg); }
    100% { transform: rotate(360deg); }
  }





/* MEDIA QUERYS ------------------------------------------------------------------------- */

  @media (max-width: 480px) {
    :root {
        font-size: 12pt; 
    }
    h2 {
        font-size: 2rem !important;
    }
    .logo-image {
        width: 8rem !important;
        height: auto !important;
    }
    body {
        width: 100% !important;
    }
    .header-nav-section {
        max-width: 100vw;
        padding: 0 8rem 0 0;
    }

    footer {
        display: none !important;
    }
    .searchbar-form{
        width: 90vw !important;
    }
    .product {
        width: 90vw !important;
    }
    main.products {
        display: flex !important;
        flex-direction: column;
        align-items: center;
    }
    .principal_carousell article {
        height: auto !important;
    }

}

@media (480px < width < 1080px) {
    :root {
        font-size: 12pt !important; 
    }
    h2{
        font-size: 3rem !important;
    }
    .header-nav-section {
        padding: 0 9rem 0 0;
        max-width: 100vw;
        display: flex;
        flex-direction: row;
        align-items: stretch;
    }
    body {
        width: 100% !important;
    }
    footer {
        display: none !important;
    }
    .searchbar-form{
        width: 90vw !important;
    }
    .product {
        width: 90vw !important;
    }
    main.products {
        display: flex !important;
        flex-direction: column;
        align-items: center;
    }
    .principal_carousell article {
        height: auto !important;
    }

}