<form action="/create_product" method="post">
    <legend>Alta de Ventilador de CPU</legend>

    <label for="rpm">RPM:</label>
    <input type="number" id="rpm" name="rpm"><br>

    <label for="noise_level">Nivel de Ruido:</label>
    <input type="number" id="noise_level" name="noise_level"><br>

    <label for="size">Tamaño:</label>
    <input type="number" id="size" name="size"><br>

    <label for="description">Descripción:</label>
    <input type="text" id="description" name="description" maxlength="512"><br>

    <label for="price">Precio:</label>
    <input type="number" step="0.01" id="price" name="price"><br>

    <label for="stock">Stock:</label>
    <input type="number" id="stock" name="stock"><br>

    <input type="submit" value="Dar de Alta">
</form>