<form action="/create_product" method="post">
    <legend>Alta de Disco Duro Interno</legend>

    <input type="hidden" id="componentType" name="componentType" value={{type}}>

    <label for="type">Tipo:</label>
    <input type="text" id="type" name="type" maxlength="20">

    <label for="capacity">Capacidad:</label>
    <input type="number" id="capacity" name="capacity">

    <label for="form_factor">Factor de Forma:</label>
    <input type="text" id="form_factor" name="form_factor" maxlength="20">

    <label for="interface">Interfaz:</label>
    <input type="text" id="interface" name="interface" maxlength="20">

    <label for="description">Descripción:</label>
    <input type="text" id="description" name="description" maxlength="512">

    <label for="price">Precio:</label>
    <input type="number" step="0.01" id="price" name="price">

    <label for="stock">Stock:</label>
    <input type="number" id="stock" name="stock">

    <input type="submit" value="Dar de Alta">
</form>