<form action="/create_product" method="post" enctype="multipart/form-data" class="new-product-form">
    <legend>Alta de Memoria</legend>
    
    <input type="hidden" id="componentType" name="componentType" value={{type}} required>

    <label for="speed">Velocidad:</label>
    <input type="number" id="speed" name="speed" required>

    <label for="modules">Módulos:</label>
    <input type="text" id="modules" name="modules" maxlength="20" required>

    <label for="description">Descripción:</label>
    <input type="text" id="description" name="description" maxlength="512" required>

    <label for="price">Precio:</label>
    <input type="number" step="0.01" id="price" name="price" required>

    <label for="stock">Stock:</label>
    <input type="number" id="stock" name="stock" required>

    {% include 'intranet/drag_and_drop.view.twig' %}

    <input type="submit" value="Dar de Alta">
</form>