<form action="/create_product" method="post">
    <legend>Alta de Motherboard</legend>

    <input type="hidden" id="componentType" name="componentType" value={{type}} required>

    <label for="socket">Socket:</label>
    <input type="text" id="socket" name="socket" maxlength="20" required>
    
    <label for="memory_slot">Memory Slot:</label>
    <input type="number" id="memory_slot" name="memory_slot" required>
    
    <label for="description">Description:</label>
    <input type="text" id="description" name="description" maxlength="512" required>
    
    <label for="price">Price:</label>
    <input type="number" id="price" name="price" step="0.01" required>
    
    <label for="stock">Stock:</label>
    <input type="number" id="stock" name="stock" required>
    
    <input type="submit" value="Submit">
</form>