<form action="/create_product?type={{type}}" method="post" class="new-product-form">
    <legend>Alta de Power Supply</legend>

    <input type="hidden" id="componentType" name="componentType" value={{type}} required>

    <label for="type">Tipo:</label>
    <input type="text" id="type" name="type" maxlength="20" required>

    <label for="efficiency">Eficiencia:</label>
    <input type="text" id="efficiency" name="efficiency" maxlength="20" required>

    <label for="wattage">Potencia (Wattage):</label>
    <input type="number" id="wattage" name="wattage" required>

    <label for="modular">Modular:</label>
    <input type="checkbox" id="modular" name="modular" required>

    <label for="description">Descripción:</label>
    <input type="text" id="description" name="description" maxlength="512" required>

    <label for="price">Precio:</label>
    <input type="number" step="0.01" id="price" name="price" required>

    <label for="stock">Stock:</label>
    <input type="number" id="stock" name="stock" required>

    {% include 'intranet/drag_and_drop.view.twig' %}

    <input type="submit" value="Dar de Alta">
</form>