<form action="/create_product" method="post">
    <fieldset>
        <input id="motherboard" name="type" type="radio" value="Motherboard">
        <label for="motherboard">Motherboard</label><br>

        <input id="cpu" name="type" type="radio" value="CPU">
        <label for="cpu">CPU</label><br>

        <input id="videoCard" name="type" type="radio" value="VideoCard">
        <label for="videoCard">GPU</label><br>

        <input id="ram" name="type" type="radio" value="RAM">
        <label for="ram">RAM</label><br>
    </fieldset>
</form>