<form action="/create_product" method="post">
    <legend>Alta de GPU</legend>

    <label for="chipset">Chipset:</label>
    <input type="text" id="chipset" name="chipset" maxlength="60" required><br>
    
    <label for="memory">Memory:</label>
    <input type="number" id="memory" name="memory" required><br>
    
    <label for="core_clock">Core Clock:</label>
    <input type="number" id="core_clock" name="core_clock" required><br>
    
    <label for="boost_clock">Boost Clock:</label>
    <input type="number" id="boost_clock" name="boost_clock" required><br>
    
    <label for="description">Description:</label>
    <input type="text" id="description" name="description" maxlength="512" required><br>
    
    <label for="price">Price:</label>
    <input type="number" id="price" name="price" step="0.01" required><br>
    
    <label for="stock">Stock:</label>
    <input type="number" id="stock" name="stock" required><br>
    
    <input type="submit" value="Submit">
</form>