{% extends 'view.twig' %}

{% block main_class %}payment{% endblock %}

{% block content %}
    <h2>
        Retiro
    </h2>
    <a href="/branch_selection">
        <section>
            <h3>En sucursar</h3>
        </section>
    </a>
    <a href="/enter_address">
        <section>
            <h3>Envío a domicilio</h3>
        </section>
    </a>
{% endblock %}
