{% extends 'view.twig' %}

{% block main_class %}payment{% endblock %}

{% block content %}
    <h2>
        Retiro
    </h2>
    <section class="select-retiro">
    <a href="/branch_selection" class="retiro-anchor">En sucursal</a>
    <a href="/enter_address" class="retiro-anchor">Envío a domicilio</a>
{% endblock %}
