{% extends 'view.twig' %}

{% block content %}
        <a href="/templates">
            <section>
                <h2>
                    Buscar plantillas
                </h2>
            </section>
        </a>
        <section>
            <h2>
                Articulos elegidos
            </h2>
            <article>
                <picture>
                    <img src="#">
                </picture>
                <h3>Procesador</h3>
                <p>
                    nombre
                    requerido
                </p>
            </article>
            <article>
                <picture>
                    <img src="#">
                </picture>
                <h3>Targeta gráfica</h3>
                <p>
                    nombre
                    requerido
                </p>
            </article>
            <article>
                <picture>
                    <img src="#">
                </picture>
                <h3>Memoria</h3>
                <p>
                    nombre
                    requerido
                </p>
            </article>
            <article>
                <picture>
                    <img src="#">
                </picture>
                <h3>Placa madre</h3>
                <p>
                    nombre
                    requerido
                </p>
            </article>
            <article>
                <picture>
                    <img src="#">
                </picture>
                <h3>Almacenamiento</h3>
                <p>
                    nombre
                    requerido
                </p>
            </article>
            <article>
                <picture>
                    <img src="#">
                </picture>
                <h3>Fuente de poder</h3>
                <p>
                    nombre
                    requerido
                </p>
            </article>
        </section>
{% endblock %}