{% extends 'view.twig' %}

{% block content %}
        <a href="/templates" class="boton-anchor">
            Buscar plantillas
        </a>
        <section class="assemble-section">
            <h2 class="assemble-title"> Productos elegidos </h2>
            <article class="article-part-assemble">
                <picture>
                    <img src="#">
                </picture>
                <h3>Procesador</h3>
                <p>
                    nombre
                    requerido
                </p>
                <a href="/assemble_pc_cpu">elegir</a>
            </article>
            <article class="article-part-assemble">
                <picture>
                    <img src="#">
                </picture>
                <h3>Targeta gráfica</h3>
                <p>
                    nombre
                    requerido
                </p>
                <a href="/assemble_pc_gpu">elegir</a>
            </article>
            <article class="article-part-assemble">
                <picture>
                    <img src="#">
                </picture>
                <h3>Memoria RAM</h3>
                <p>
                    nombre
                    requerido
                </p>
                <a href="/assemble_pc_ram">elegir</a>
            </article>
            <article class="article-part-assemble">
                <picture>
                    <img src="#">
                </picture>
                <h3>Placa madre</h3>
                <p>
                    nombre
                    requerido
                </p>
                <a href="/assemble_pc_motherboard">elegir</a>
            </article>
            <article class="article-part-assemble">
                <picture>
                    <img src="#">
                </picture>
                <h3>Almacenamiento</h3>
                <p>
                    nombre
                    requerido
                </p>
                <a href="/assemble_pc_disk">elegir</a>
            </article>
            <article class="article-part-assemble">
                <picture>
                    <img src="#">
                </picture>
                <h3>Fuente de poder</h3>
                <p>
                    nombre
                    requerido
                </p>
                <a href="/assemble_pc_power_suply">elegir</a>
            </article>
        </section>
{% endblock %}