{% extends 'view.twig' %}

{% block main_class %}products{% endblock %}

{% block content %}
        <form class="searchbar-form">
            <label for="searchbar-templates">Buscar</label>
            <input type="text" id="searchbar-templates" name="searchbar-templates" class="searchbar-input" tabindex="1" autocomplete="on" autofocus required>
            <input type="submit" value="Subir" class="submit searchbar-submit">
        </form>
        {% for item in products %}
            <article>
                <picture>
                    <img src= "{{item.pathImg}}" >
                </picture>
                <h3>{{item.nombre}}</h3>
                <p> 
                    {{item.descripcion}}
                    <br>
                    {{item.precio}}
                </p>
            </article>
        {% endfor %}
{% endblock %}