{% extends 'view.twig' %}

{% block main_class %}products{% endblock %}

{% block content %}
        <h2> Seleccione su disco duro </h2>
        <form id="search-form" class="searchbar-form" data-type="internalHardDrive">
            <label for="searchbar-templates">Buscar</label>
            <input type="text" id="searchbar-templates" name="searchbar-templates" class="searchbar-input" tabindex="1" autocomplete="on" autofocus>

            <input type="submit" value="Buscar" class="submit searchbar-submit">
        </form>
        <div class="loading" id="loading"> loading... </div>
{% endblock %}