{% extends 'view.twig' %}

{% block main_class %}products{% endblock %}

{% block content %}
        <form id="search-form" class="searchbar-form">
            <label for="searchbar-templates">Buscar</label>
            <input type="text" id="searchbar-templates" name="searchbar-templates" class="searchbar-input" tabindex="1" autocomplete="on" autofocus>

            <input type="submit" value="Buscar" class="submit searchbar-submit">

            <fieldset class="search-fieldset">
                <input id="cpu" name="type" type="radio" value="cpu">
                <label for="cpu">CPU</label>

                <input id="videoCard" name="type" type="radio" value="videoCard">
                <label for="videoCard">GPU</label>

                <input id="motherboard" name="type" type="radio" value="motherboard">
                <label for="motherboard">Motherboard</label>

                <input id="memory" name="type" type="radio" value="memory">
                <label for="memory">RAM</label>

                <input id="internalHardDrive" name="type" type="radio" value="internalHardDrive">
                <label for="internalHardDrive">Hard Drive</label>

                <input id="cpuFan" name="type" type="radio" value="cpuFan">
                <label for="cpuFan">Cpu Fan</label>

                <input id="monitor" name="type" type="radio" value="monitor">
                <label for="monitor">Monitor</label>

                <input id="casePc" name="type" type="radio" value="casePc">
                <label for="casePc">Case</label>

                <input id="powerSupply" name="type" type="radio" value="powerSupply">
                <label for="powerSupply">Power Supply</label>
            </fieldset>

            
        </form>
        
        <!-- Chat de Gemini -->

        <div class="gemini-chat-container">
            <div class="gemini-chat-header">
                Chat de Gemini
                <button class="toggle-chat">⮟</button>
            </div>
            <div class="gemini-chat-body">
                <div class="gemini-chat-messages" id="chat-messages"></div>
                {# Aquí colocamos el formulario y el contenido actual del chat #}
                <div id="chat-options">
                    <label for="template1">
                        <input type="radio" name="template1" id="template1" value="1"> 
                        Quiero un/a [componente] para un PC [tipo de PC]
                    </label>
                    <label for="template2">
                        <input type="radio" name="template2" id="template2" value="2"> 
                        Quiero una PC [tipo de PC], ¿qué configuración me recomiendas?
                    </label>
                </div>

                <form id="chat-form">
                <fieldset id="chat-template-1" class="chat-fieldset hidden">
                    <legend>Selecciona el tipo de componente</legend>
                    <input id="cpu_chat" name="component_type" type="radio" value="cpu">
                    <label for="cpu_chat">CPU</label>
                    <input id="gpu_chat" name="component_type" type="radio" value="gpu">
                    <label for="gpu_chat">GPU</label>
                </fieldset>

                <fieldset id="chat-template-2" class="chat-fieldset hidden">
                    <legend>Selecciona el tipo de PC:</legend>
                    <input id="modesto_chat" name="pc_type" type="radio" value="modesto">
                    <label for="modesto_chat">Modesto</label>
                    <input id="gaming_chat" name="pc_type" type="radio" value="gaming">
                    <label for="gaming_chat">Gaming</label>
                    <input id="oficina_chat" name="pc_type" type="radio" value="oficina">
                    <label for="oficina_chat">Oficina</label>
                </fieldset>
                <button id="send-chat-message" type="button" class="hidden">Enviar</button>
                </form>
            </div>
        </div>

        <div class="loading" id="loading"> loading... </div>
{% endblock %}