{% extends 'view.twig' %}

{% block content %}
        <h2>
            Bienvenido a PawPower!
        </h2>
        <section class="principal">

        </section>
        <section>
            <h2>
                Más comprados
            </h2>
            <article>
                <picture>
                    <source srcset="../images/foto-hamburguesa-5-L.png" media="(min-width: 1024px)">
                    <source srcset="../images/foto-hamburguesa-5-M.png" media="(min-width: 481px) and (max-width: 1023px)">
                    <source srcset="../images/foto-hamburguesa-5-S.png" media="(max-width: 480px)">
                    <img src="../images/foto-hamburguesa-5-L.png">
                </picture>
                <h3>Combo/plato</h3>
                <p>Lorem Ipsum</p>
            </article>
            <article>
                <picture>
                    <source srcset="./images/foto-hamburguesa-2-L.png" media="(min-width: 1024px)">
                    <source srcset="./images/foto-hamburguesa-2-M.png" media="(min-width: 481px) and (max-width: 1023px)">
                    <source srcset="./images/foto-hamburguesa-2-S.png" media="(max-width: 480px)">
                    <img src="./images/foto-hamburguesa-2-L.png">
                </picture>
                <h3>Combo/plato</h3>
                <p>Lorem Ipsum</p>
            </article>
            <article>
                <picture>
                    <source srcset="./images/foto-hamburguesa-3-L.png" media="(min-width: 1024px)">
                    <source srcset="./images/foto-hamburguesa-3-M.png" media="(min-width: 481px) and (max-width: 1023px)">
                    <source srcset="./images/foto-hamburguesa-3-S.png" media="(max-width: 480px)">
                    <img src="./images/foto-hamburguesa-3-L.png">
                </picture>
                <h3>Combo/plato</h3>
                <p>Lorem Ipsum</p>
            </article>
            <a href="/menu">Ver más</a>
        </section>
        <section>
            <h2>Novedades</h2>
            <article class="overflow_hidden informacion">
                <h3>Noticia importante 1</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati exercitationem quas, reprehenderit dicta velit ratione esse consequatur deleniti voluptatem, itaque harum reiciendis culpa iure illo aspernatur architecto rerum eveniet recusandae.</p>
                <img src="" alt="noticia">
            </article>
            <article class="overflow_hidden informacion">
                <h3>Noticia importante 1</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati exercitationem quas, reprehenderit dicta velit ratione esse consequatur deleniti voluptatem, itaque harum reiciendis culpa iure illo aspernatur architecto rerum eveniet recusandae.</p>
                <img src="" alt="noticia">
            </article>
            <article class="overflow_hidden informacion">
                <h3>Noticia importante 1</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati exercitationem quas, reprehenderit dicta velit ratione esse consequatur deleniti voluptatem, itaque harum reiciendis culpa iure illo aspernatur architecto rerum eveniet recusandae.</p>
                <img src="" alt="noticia">
            </article>
            <a href="/novedades">Ver más</a>
        </section>
{% endblock %}