{% extends 'view.twig' %}

{% block content %}
        <section>
            <h2>
                <a href="/assemble_pc">CREA TU PROPIA PC PERSONALIZADA</a>
            </h2>
        </section>
        <section>
            <h2>
                Ultimos productos
            </h2>
            <article>
                <picture>
                    <img src="#">
                </picture>
                <h3>Producto 1</h3>
                <!--creo un boton con js que añada al carrito con un post-->
            </article>
            <article>
                <picture>
                    <img src="#">
                </picture>
                <h3>Producto 1</h3>
                <!--creo un boton con js que añada al carrito con un post-->
            </article>
            <article>
                <picture>
                    <img src="#">
                </picture>
                <h3>Producto 1</h3>
                <!--creo un boton con js que añada al carrito con un post-->
            </article>
        </section>
{% endblock %}