{% extends 'view.twig' %}

{% block content %}
        <section class="background-pc-index">
            <h2>
                <a href="/assemble_pc" class="boton-anchor">Crea tu propia PC, ya!</a>
            </h2>
        </section>
        <section>
            <h2>
                Ultimos productos
            </h2>
            <article class="article-producto">
                <picture>
                    <img src="#">
                </picture>
                <h3>Producto 1</h3>
                <!--creo un boton con js que añada al carrito con un post-->
            </article>
            <article  class="article-producto">
                <picture>
                    <img src="#">
                </picture>
                <h3>Producto 1</h3>
                <!--creo un boton con js que añada al carrito con un post-->
            </article>
            <article  class="article-producto">
                <picture>
                    <img src="#">
                </picture>
                <h3>Producto 1</h3>
                <!--creo un boton con js que añada al carrito con un post-->
            </article>
        </section>
{% endblock %}