{% extends 'view.twig' %}

{% block content %}
        <section class="principal">
            <div class="principal_carousell">
                <a href="/products">
                    <picture>
                        <img src="./images/carousel/1.jpg" alt="Promociones de BLACK DAYS en ASSEMBL. Equipa tu PC con los mejores precios! Preciona la imagen para ver los productos.">
                    </picture>
                </a>
                <a href="/products">
                    <picture>
                        <img src="./images/carousel/2.jpg" alt="Pantalla ACER PREDATOR, inmercion en el juego. Preciona la imagen para ver el producto.">
                    </picture>
                </a>
                <a href="/products">
                    <picture>
                        <img src="./images/carousel/3.jpg" alt="XBOX, los mejores joysticks al mejor precio. Preciona la imagen para ver el producto.">
                    </picture>
                </a>
                <a href="/products">
                    <picture>
                        <img src="./images/carousel/4.jpg" alt="Mouse NIGHTSABRE SLIPSTREAM, de CORSAIR. Con iluminacion RGB, un sensor optico de 26000 dpi, y wireless bluetooth. Preciona la imagen para ver el producto." >
                    </picture>
                </a>
                <a href="/products">
                    <picture>
                        <img src="./images/carousel/5.jpg" alt="Microfonos STRIX CARNYX, de ASUS. Con conector usb-c, 192kh de muestreo, y AURA SYNC. Preciona la imagen para ver el producto.">
                    </picture>
                </a>
                <a href="/products">
                    <picture>
                        <img src="./images/carousel/6.jpg" alt="Microfono BLUE SNOWBALL BLACK, de Logitech. Preciona la imagen para ver el producto.">
                    </picture>
                </a>
            </div>
        </section>
        <section class="background-pc-index">
            <h2>
                <a href="/assemble_pc" class="boton-anchor">Crea tu propia PC, ya!</a>
            </h2>
        </section>
{% endblock %}