{% extends 'view.twig' %}

{% block content %}
        <div class="loader"></div>
        <section class="background-pc-index">
            <h2>
                <a href="/assemble_pc" class="boton-anchor">Crea tu propia PC, ya!</a>
            </h2>
        </section>
        <section class="index-products">
            <h2>
                Ultimos productos
            </h2>
            <section class="principal">
                <div class="principal_carousell">
                    {% for item in products %}
                    <article class="product">
                        <picture>
                            <img src="{{item.path_img}}" >
                        </picture>
                        <h3>{{item.description}}</h3>
                        <p> 
                            ${{item.price}}
                        </p>
                    </article>
                    {% endfor %}
                </div>
            </section>
            
        </section>
{% endblock %}