{% include 'layout/head.view.twig' %}
<body>

    {% include 'layout/header.view.twig' %}

    <main class="{% block main_class %}default-class{% endblock %}">
        {% block content %}{% endblock %}
    </main>

    {% include 'layout/footer.view.twig' %}
</body>
</html>