{% extends 'view.twig' %}

{% block content %}
        <h2>Nuestras sucursales</h2>
        <section>
            <article class="article-branch">
                <h3>Moreno</h3>
                <picture>
                    <source srcset="../images/local1-L.png" media="(min-width: 1024px)">
                    <source srcset="../images/local1-M.png" media="(min-width: 481px) and (max-width: 1023px)">
                    <source srcset="../images/local1-S.png" media="(max-width: 480px)">
                    <img src="../images/local1-L.png" id="imagen-local-moreno" alt="local de Moreno">
                </picture>
                <a href="#" rel="external" target="_blank" class="link">Direcciones</a>    
            </article>
            <article class="article-branch">
                <h3>Gral. Rodriguez</h3>
                <picture>
                    <source srcset="../images/local2-L.png" media="(min-width: 1024px)">
                    <source srcset="../images/local2-M.png" media="(min-width: 481px) and (max-width: 1023px)">
                    <source srcset="../images/local2-S.png" media="(max-width: 480px)">
                    <img src="../images/local1-L.png" id="imagen-local-moreno" alt="local de Moreno">
                </picture>
                <a href="#" rel="external" target="_blank" class="link">Direcciones</a>  
            </article>
            <article class="article-branch">
                <h3>Luján</h3>
                <picture>
                    <source srcset="../images/local3-L.png" media="(min-width: 1024px)">
                    <source srcset="../images/local3-M.png" media="(min-width: 481px) and (max-width: 1023px)">
                    <source srcset="../images/local3-S.png" media="(max-width: 480px)">
                    <img src="../images/local1-L.png" id="imagen-local-moreno" alt="local de Moreno">
                </picture>
                    <a href="#" rel="external" target="_blank" class="link">Direcciones</a>  
            </article>
            <article class="article-branch">
                <h3>Mercedes</h3>
                <picture>
                    <source srcset="../images/local4-L.png" media="(min-width: 1024px)">
                    <source srcset="../images/local4-M.png" media="(min-width: 481px) and (max-width: 1023px)">
                    <source srcset="../images/local4-S.png" media="(max-width: 480px)">
                    <img src="../images/local1-L.png" id="imagen-local-moreno" alt="local de Moreno">
                </picture>
                <a href="#" rel="external" target="_blank" class="link">Direcciones</a>  
            </article>
        </section>
{% endblock %}