{% extends 'view.twig' %}

{% block content %}
        <h2>Nuestras sucursales</h2>
        <section class="branches-section">
            <article class="article-branch">
                <h3>Moreno</h3>
                <picture>
                    <img src="../images/branches/assembl-moreno.jpg" id="imagen-local-moreno" alt="local de Moreno">
                </picture>
                <a href="#" rel="external" target="_blank" class="boton-anchor">Direcciones</a>    
            </article>
            <article class="article-branch">
                <h3>Gral. Rodriguez</h3>
                <picture>
                    <img src="../images/branches/assembl-rodriguez.jpg" id="imagen-local-rodriguez" alt="local de General Rodríguez">
                </picture>
                <a href="#" rel="external" target="_blank" class="boton-anchor">Direcciones</a>  
            </article>
            <article class="article-branch">
                <h3>Luján</h3>
                <picture>
                    <img src="../images/branches/assembl-lujan.jpg" id="imagen-local-lujan" alt="local de Luján">
                </picture>
                    <a href="#" rel="external" target="_blank" class="boton-anchor">Direcciones</a>  
            </article>
            <article class="article-branch">
                <h3>Mercedes</h3>
                <picture>
                    <img src="../images/branches/assembl-mercedes.jpg" id="imagen-local-mercedes" alt="local de Mercedes">
                </picture>
                <a href="#" rel="external" target="_blank" class="boton-anchor">Direcciones</a>  
            </article>
        </section>
{% endblock %}