{% extends 'view.twig' %}

{% block content %}
        <section class="informacion">
            <h2>
                Defensa del consumidor
            </h2>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati exercitationem quas, reprehenderit
                dicta velit ratione esse consequatur deleniti voluptatem, itaque harum reiciendis culpa iure illo
                aspernatur architecto rerum eveniet recusandae.
            </p>
        </section>
{% endblock %}