<footer>
    <nav class="nav-footer">
        <ul class="footer-social-links">
            <li>
                <a href="#" rel="external" target="_blank">
                    <i class="fa fa-instagram"></i>
                </a>
            </li>
            <li>
                <a href="#" rel="external" target="_blank">
                    <i class="fa fa-facebook"></i>
                </a>
            </li>
            <li>
                <a href="#" rel="external" target="_blank">
                    <i class="fa fa-twitter"></i>
                </a>
            </li>
            <li>
                <a href="mailto:assembl@gmail.com"><i class="fa fa-envelope"></i></a>
            </li>
        </ul>
        <ul class="footer-links">
            {% for item in footer %}
            <li>
                <a href="{{ item.href }}" class="{{ app.request.getPathInfo() == item.href ? 'selected' : '' }}">
                    {{ item.name }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </nav>
    <small class="trademark">ASSEMBL {{ "now"|date("Y") }} ©</small>
</footer>