<header>
        <a href="../">
            <picture class="picture">
                <source srcset="../source/pictures/Logo1.png" media="(min-width: 600px)">
                <img class="logo-image" alt="Assembl" src="../source/pictures/Logo1.png">
            </picture>
        </a>
    <section class="header-nav-section">
        {% include 'layout/nav.view.twig' %}
        {% include 'layout/nav_account.view.twig' %}
    </section>
</header>