<header>
        <a href="../" class="assembl-icon">
            <picture class="picture">
                <source srcset="../source/pictures/Logo-H.png" media="(min-width: 600px)">
                <img class="logo-image" alt="Assembl" src="../source/pictures/Logo-H.png">
            </picture>
        </a>
    {% include 'layout/nav.view.twig' %}
</header>