{% extends 'view.twig' %}

{% block content %}

    <form action="/create_product" method="post" class="new-product-type-form"> <!-- TODO: esto es un <menu> -->
        <fieldset class="new-product-fieldset">
            <input id="videoCard" name="type" type="radio" value="videoCard" {% if type == 'videoCard' %}checked{% endif %}>
            <label for="videoCard">GPU</label>

            <input id="motherboard" name="type" type="radio" value="motherboard" {% if type == 'motherboard' %}checked{% endif %}>
            <label for="motherboard">Motherboard</label>

            <input id="memory" name="type" type="radio" value="memory" {% if type == 'memory' %}checked{% endif %}>
            <label for="memory">RAM</label>

            <input id="internalHardDrive" name="type" type="radio" value="internalHardDrive" {% if type == 'internalHardDrive' %}checked{% endif %}>
            <label for="internalHardDrive">Hard Drive</label>

            <input id="cpuFan" name="type" type="radio" value="cpuFan" {% if type == 'cpuFan' %}checked{% endif %}>
            <label for="cpuFan">Cpu Fan</label>

            <input id="casePc" name="type" type="radio" value="casePc" {% if type == 'casePc' %}checked{% endif %}>
            <label for="casePc">Case</label>

            <input id="powerSupply" name="type" type="radio" value="powerSupply" {% if type == 'powerSupply' %}checked{% endif %}>
            <label for="powerSupply">Power Supply</label>
        </fieldset>
    </form>

    {% if type == "" %}
        <h2>Seleccione un producto</h2>
        <p>Por favor, seleccione un tipo de producto a dar de alta</p>
    {% elseif type in types %}
        {% include 'intranet/create_product_forms/' ~ type ~ '_form.view.twig' with {'type': type} %}
    {% else %}
        <h2>Tipo de producto inválido</h2>
        <p>Por favor, seleccione un tipo de producto a dar de alta válido</p>
        <p>{{type}}</p>
    {% endif %}

    {% if mensaje %}
        <p>{{mensaje}}</p>
    {% endif %}

{% endblock %}