{#
<div class="drop-area">
    <h3>Arrastra y suelta imagenes</h3>
    <p>o</p>
    <label class="submit" for="imagen">Sube una Imagen</label>
    <input class="inputfile" type="file" id="imagen" name="imagen" accept="image/jpeg, image/png" required data-multiple-caption="{count} files selected" multiple>
</div>
<div class="preview"></div>
#}