{% extends 'view.twig' %}

{% block main_class %}management_orders{% endblock %}

{% block content %}

<section class="PREPARING" ondrop="drop(event)" ondragover="allowDrop(event)">
    <h3>En preparación</h3>
</section>

<section class="DISPATCHED" ondrop="drop(event)" ondragover="allowDrop(event)">
    <h3>Despachado</h3>
</section>

<section class="READY_FOR_PICKUP" ondrop="drop(event)" ondragover="allowDrop(event)">
    <h3>Listo para llevar</h3>
</section>

<section class="DELIVERED" ondrop="drop(event)" ondragover="allowDrop(event)">
    <h3>Recibido</h3>
</section>

{% endblock %}